@font-face {
  font-family: "Fontspring-DEMO-tt_commons_pro_expanded_thin";
  src: url("fonts/Fontspring-DEMO-tt_commons_pro_expanded_thin.woff2");
}

@font-face {
  font-family: "Fontspring-DEMO-tt_commons_pro_expanded_demibold";
  src: url("fonts/Fontspring-DEMO-tt_commons_pro_expanded_demibold.woff2");
}
@font-face {
  font-family: "Gilroy-Thin";
  src: url("fonts/Gilroy-Thin.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: "Gilroy-Thin", Fallback, sans-serif;
  font-size: 1rem;
  color: #0a0a0a;
  line-height: 1.6;
  text-align: center;
}

button {
  display: inline-block;
  padding: 1em 1.5em;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  border: 1px solid black;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms;
}
button:hover,
button:focus,
img:hover,
img:focus {
  transform: scale(1.1);
}

nav,
footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
img {
  max-width: 40vw;
  max-height: 40vh;
}
/* =================
   Navbar 
   ================= */
nav {
  padding: 0 1em 0 6em;
}

.builderRedirectBtn {
  background: #ff5400;
  color: white;
}

.navCTAS {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

/* =================
   Choose Car 
   ================= */
.choose-car-wrapper {
  display: flex;
  flex-direction: column;
  padding: 8em 0;
}
.cars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em;
}
.car {
  display: flex;
  flex-direction: column;
}
.car-title {
  padding: 1em;
}
.car-images {
  border: 1px solid black;
}
